<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
               User Details
            </h3>
          
        </div>
        <div>
            <table class="table-center col-md-6 table-bordered table-striped table-condensed">
        		<thead>
        			<tr class="tableHeader">
        				<th>User Name</th>
                <th>User Address</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr *ngFor="let obj of data">
              <td>{{obj.name}}</td>
              <td>{{obj.address.street}}, {{obj.address.suite}}, {{obj.address.city}}, {{obj.address.zipcode}}</td>
              </tr>
        		</tbody>
        	</table>
        </div>
    </div>
   
</div>
